.box {
    width:600px;
    display: inline-flex;

}

.box-1{
    padding: 20px;
}

.fonx{
    text-align: center;
    padding: 5px;
    color: blue;
}


.Alipay{
    width: 240px;
    height: 360px;
    border-style: inset;
}

.Wechat {
    width: 240px;
    height: 360px;
    border-style: inset;
}
.over {
            position: fixed;
            left:0;
            top:0;
            width:100%;
            z-index:100;
        }
.tempContainer {
    position:fixed;
    width:100%;
    margin-right:0;
    margin-left:0;
    text-align:center;
    z-index:101;}